 input[type='text'],
input[type='password']{
    margin-bottom: 10%;
    margin-top: 2%;
    padding: 5%;
    display: block;
    box-sizing: border-box;
    background-color: gainsboro;
    border: none;
    border-radius: 20px;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
   color: white;
    
}

input[type='submit']{
    margin-left: 30% ;
    border: none;
    padding: 15px;
    border-radius: 10px;
}


input[type='submit']:active{
    background-color:black;
    color: white;
}

.fondo_formulario{
    max-width: 500px;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(114, 109, 109);
}